body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.collable {
  width: 100%;
  padding: 18px;
  margin-top: 0px;
  height: calc(100vh - 280px);
  overflow-y: auto;

  &-item {
    margin-bottom: 26px;
    width: 100%;

    h3 {
      font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 9px;
      cursor: pointer;
    }

    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      height: 0px;
      overflow: hidden;
      transition: all 2s ease-in-out;

      &.active {
        height: auto;
      }

      li {
        padding: 0;

        a {
          text-decoration: none;
          font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: #000;
          font-size: 14px;
          line-height: 2.2;
        }
      }
    }
  }
}

.slider-container {
  width: 100%;
  padding-left: 18px;
  // position: fixed;
  // bottom: 0px;

  .title {
    font-family: 'helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 9px;
    cursor: pointer;

  }

  .slider-container-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;

    .slider-container-wrapper-item {
      width: 0px;
      height: 0px;
      padding-left: 45%;
      padding-top: calc(45% * 1.5);
      position: relative;
      overflow: hidden;

      // background-color: aqua;
      img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}